@font-face {
    font-family: myfont;
    src: url("./fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  }
  
  @font-face {
    font-family: myfont1;
    src: url("./fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  }
  
  @font-face {
    font-family: myfont2;
    src: url("./fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
    format("truetype");
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;